.file-icon {
  background: url("/include/images/fallback/file.png") left top no-repeat;
  background-position: center;
}

.dir-icon {
  background: url("/include/images/fallback/folder.png") left top no-repeat;
  background-position: center;
}

.up-icon {
  background: url("/include/images/fallback/folder-parent.png") left top no-repeat;
  background-position: center;
}

input[type=checkbox] {
display:none;
}

input[type=checkbox]+label {
  background: url("/include/images/tree-indicator.svg") left top no-repeat;
  background-position: center left 5px;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]:checked+label {
  background: url("/include/images/sort.svg") left center no-repeat;
  background-position: center left 5px;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
  padding: 0 0 0 0px;
}


.side-checkbox {
  float: left;
}
.side-content {
  padding-left: 10px;
}

.pure-menu-link {
  margin-left: 20px;
}

.listing-table {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.listing-table thead {
  background-color: white;
  border-top: 0
}

.listing-item {
  transition-duration: 0.4s;
  transition-property: all;
  cursor: pointer;
  line-height: 1.4rem;
  min-height: 1.4rem;
  height: 1.4rem;
  font-size: 90%;
}

.listing-item:hover {
  background-color: #ededed;
  transition-duration: 0.4s;
  transition-property: all;
  cursor: pointer;
  line-height: 1.6rem;
  min-height: 1.6rem;
  height: 1.6rem;
  font-size: 90%;
}

.file-name {
  text-overflow: ellipsis
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

#menu {
  font-size: 90%;
}

.footer-container {
  padding-top: 20px;
}

footer a {
  color: blue;
  text-decoration: underline;
}

footer a:hover {
  color: blue;
  text-decoration: underline;
}

footer a:visited {
  color: blue;
  text-decoration: underline;
}

.breadcrumb-item {
  padding-left: 20px;
}

.smaller {
  font-size: 0.9em;
}

.heading {
  background-color: #fafafa;
  padding: 0.8rem;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.search-right {
  float: right;
  padding-right: 10px;
  display: flex;
}

.search-icon {
  background: url("/include/images/search.svg") left top no-repeat;
  background-position: center;
  padding-left: 50px;
  display: inline;
  background-size: 40%;
  height: 100%;
}

.search-icon:hover {
  background: url("/include/images/search.svg") left top no-repeat;
  background-position: center;
  padding-left: 50px;
  display: inline;
  background-size: 40%;
  height: 100%;
}

.search-icon:active {
  background: url("/include/images/search.svg") left top no-repeat;
  background-position: center;
  padding-left: 50px;
  display: inline;
  background-size: 40%;
  height: 100%;
}
