body {
    color: #777;
    font-family: "Ubuntu","Roboto","Helvetica","Arial","sans-serif"!important;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
}
  /*
    #layout.active #menu {
        left: 250px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 250px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin-bottom: 50px;
    margin-left: 0;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: left;
     padding-left: 10px;
 }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
